@import "./index.css";

.edit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-title {
    font-size: 20px;
    text-transform: uppercase;
}

.msg-error {
    color: red;
}

.edit-container {
    height: 400px;
    width: 400px;
    background-color: #7286D3;
    color: #FFF2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;
}

.edit-container > form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 17px;
}

.edit-container > form > label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit-container > form > label > input {
    all: unset;
    padding: 5px;
    border-bottom: 1px solid #8EA7E9;
    cursor: text;
}

.edit-container > form > input {
    all: unset;
    padding: 8px;
    border: 1px solid #8EA7E9;
    cursor: pointer;
    text-align: center;
}

.edit-container > form > input:hover {
    color: #7286D3;
    background-color: #FFF2F2;
}