@import "./index.css";

.header {
    background-color: #7286D3;
    padding: 20px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header-logo {
    font-size: 25px;
}

.header > .header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}