.page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.camera-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 640px;
}

.filters-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;
    border: 1px solid #112D4E;
    border-radius: 7px;
    padding: 5px;
}

.filter-btn {
    border: 1px solid;
    border-radius: 5px;
}

.move-filter-container {
    height: 90%;
    width: 90%;
    margin: 10px;
    cursor: move;
    position: absolute;
}

.camera-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-file > label {
    align-items: center;
    background-color: #7286D3;
    border: 1px solid;
    border-radius: 5px;
    border-color: #7286D3;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
}

#form-file > label > input {
    display: none;
}

#canvas {
    display: none;
}

#btn-save-container {
    display: none;
    flex-direction: row;
    gap: 5px;
}
.display-container {
    position: relative;
    width: 640px;
    height: 480px;
    overflow: hidden;
}
.display-container > video {
    position: absolute;
}
.display-container > img {
    position: absolute;
}

#btn-cam {
    align-items: center;
    background-color: #7286D3;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    border-color: #7286D3;
    color: white;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
}

#btn-shoot {
    align-items: center;
    background-color: #7286D3;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    color: white;
    flex-direction: row;
    border-color: #7286D3;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
    opacity: 0.5;
}

#remove-file {
    display: none;
    align-items: center;
    background-color: #7286D3;
    border: 1px solid;
    border-radius: 5px;
    border-color: #7286D3;
    color: white;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
}

.pictures-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#save-post {
    align-items: center;
    border: 1px solid #7286D3;
    border-radius: 5px;
    display: flex;
    color: #7286D3;
    background-color: #F9F7F7;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
}

#delete-post {
    align-items: center;
    border: 1px solid rgb(213, 27, 27);
    border-radius: 5px;
    display: flex;
    color: rgb(213, 27, 27);
    background-color: #F9F7F7;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 700;
    gap: 10px;
    padding: 8px 11px;
}

.pictures-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 450px;
    border: 1px solid #112D4E;
    border-radius: 7px;
    gap: 5px;
    overflow: scroll;
}

.filters-canvas {
    position: absolute;
}

#right-resize {
    position: absolute;
    right: 0;
    height: 100%;
    width: 5%;
    cursor: ew-resize;
}

.filter-wrapper {
    position: relative;
    width: 640px;
    height: 480px;
}

.square-resize {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    background-color: white;
   
}

#square-top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

#square-top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

#square-bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

#square-bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}