@font-face {
    font-family: Lato;
    src: url("../public/fonts/Lato/Lato-Regular.ttf");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    background-color: #e3e0f2;
}

.page-container {
    height: calc(100vh - 70px);
    flex-grow: 1;
    background-color: #e3e0f2;
}

a {
    text-decoration: none;
    color: #FFFBF5;
}

h2 {
    color: #3C486B;
}
p, span, a {
    margin: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.pagination > a {
    width: 35px;
    height: 35px;
    border: 0.7px solid grey;
    color: cornflowerblue;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.pagination > span {
    width: 35px;
    height: 35px;
    color: white;
    border: 0.7px solid grey;
    background-color: cornflowerblue;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}