@import "./index.css";

i {
    cursor: pointer;
}

.preview-container {
    margin: auto;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    flex-direction: row;
    height: calc(100vh - 70px - 50px - 40px);  /* soustraire par la height du header - footer et le gap entre les elements */
    width: 85vw;
}

.img-wrapper {
    width: 50%;
}

.img-wrapper > img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-preview {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    align-items: stretch;
    gap: 5px;
    width: 50%;
    background-color: #8EA7E9;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-infos {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #7286D3;
}

#delete-btn {
    color: red;
}

.post-owner {
    color: #18122B;
    font-weight: bold;
}

.comment-section {
    list-style: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#no-comments {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-section > ul > li {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.comment-sender {
    font-weight: bold;
    color: #18122B;
}

.comment-content {
    font-size: 14px;
}

.infos-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 10px;
}

.infos-container > span {
    text-transform: uppercase;
    font-size: 10px;
}

.likes-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#btn-unlike {
    color: red;
}

.bottom-preview {
    border-top: 1px solid #7286D3;
}
.bottom-preview > form {
    border-top: 1px solid #7286D3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.bottom-preview > form > .comment-input {
    all: unset;
    padding: 10px 12px;
    font-size: 18px;
    width: 100%;
}

.bottom-preview > form > button {
    all: unset;
}